.float-button {
  margin-left: 0vw;
  margin-top: 0vh;
  background-image: url('/ai.png');
  background-color: transparent;
  background-size: cover;
  width: 80px;
  height: 100px;
  border-radius: 50%;
  border: none;
  position: absolute;
  z-index: 1000;
  transition: background-color 0.3s ease; 
}
